.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    gap: 1rem;
}

.grid__item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid__item img {
    padding: 5px;
}
